
<template name="stack_info">
  <div class="row">
    {{#each stack}}
      <h1 class="text-center">{{name}}</h1>
      <div class="divider"></div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-center">Stack detail</h3>
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <p><strong>Name:</strong> {{name}}</p>
                <p><strong>UUID:</strong> {{uuid}}</p>
                <p><strong>Created:</strong> {{moment createdAt 'LLL'}}</p>
                <p><strong>State: </strong>
                  <span class="{{stateClass this}}-text text-capitalize">
                    {{state}}
                  </span>
                </p>
              </div>
            </div>
            {{#if stackLink}}
              <div class="row">
                <div class="col-sm-8">
                  <a href="{{stackLink}}" target="_blank">
                    View stack in {{platform}}
                  </a>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-center">SSL Settings</h3>
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <p><strong>Default URL:</strong></p>
                <a href="{{defaultUrl}}" target="_blank">
                  <p>{{defaultUrl}}</p>
                </a>
                <br>
                {{#if sslDomainName}}
                  <p><strong>Custom URL:</strong></p>
                  <a href="https://{{sslDomainName}}" target="_blank">
                    <p>https://{{sslDomainName}}</p>
                  </a>
                  {{#if isRancher}}
                    {{#unless isStackPage}}
                      <button type="submit" id="delete-cert"
                              class="ladda-button btn btn-danger pull-right"
                              data-style="slide-left">
                        <span class="ladda-label">Delete Custom Certificate</span>
                      </button>
                    {{/unless}}
                  {{/if}}
                {{/if}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                {{#if isStackPage}}
                  <a href="/stacks/{{_id}}/ssl">
                    Show SSL Settings
                  </a>
                {{else}}
                  <a href="/stacks/{{_id}}">
                    Show stack info
                  </a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
