
.login-wrapper {
    padding: 2em;
}

.at-title {
    text-align: center;

    .header {
        font-weight: 300;
    }
}

.at-form {

    .card-panel {
        margin-bottom: 3rem;
    }
}

.at-btn {
    margin: 1em 0;
}