
.login-wrapper {
    padding: 2em;
}

.at-title {
    text-align: center;

    .header {
        font-weight: 300;
    }
}

.at-form {

    input {
        box-sizing: border-box;
    }
}

.at-btn {
    margin: 1em 0;
}