
body {
    color: $text-color;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;

    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }
}