
.settings-page {

    .settings-page-form {
        padding-bottom: 70px;
    }

    .settings-group-heading {
        margin: 4rem 0 1.5rem -0.75rem;
        border-bottom: 1px solid $input-border-color;

        &:first-of-type {
            margin-top: 2rem;
        }
    }

    .form-group {
        padding-left: 1rem;
        margin-right: 2rem;

        label {
            display: block;
            width: 100%;
        }

        input {
            max-width: 40rem;
            margin-top: .5rem;
        }
    }
}