
<template name="stack_new">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel">
          <div class="panel-body">
            {{#autoForm collection="Stacks" id="insertStackForm" type="method" meteormethod="tutum/createStack" }}
              <h3 class="text-center">Create New Stack</h3>

                {{> afQuickField name='name'}}


                {{> afQuickField name='appImage'}}


                {{> afQuickField name='domainName'}}

              <a href="/stacks" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-primary pull-right">Do it!</button>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
