<template name="stack_page">

  <div class="container">
    {{> stack_info}}
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">Services</h3>
          <div class="panel">
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th data-field="type">Type</th>
                    <th data-field="state">State</th>
                    <th data-field="service-id">Tutum Service ID</th>
                    <th data-field="image">Docker Image</th>
                    <th data-field="links"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each stackServices}}
                    <tr>
                      <td>{{type}}</td>
                      <td><span class="{{stateClass this}}-text">{{state}}</span></td>
                      <td>{{name}}</td>
                      <td>{{imageName}}</td>
                      <td>{{> stack_services_links}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  {{ > tooltips }}
</template>


<template name="stack_services_links">
  <div class="stack-service-links">
    <a href="https://dashboard.tutum.co/container/service/show/{{uuid}}/" target="_blank">
      <i class="zmdi zmdi-arrow-right-top zmdi-hc-2x" data-tooltip="View in Tutum"></i>
    </a>
  </div>
</template>
