
<template name="stack_new">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel">
          <div class="panel-body">
            {{#autoForm collection="Stacks" id="insertStackForm" type="method" meteormethod=methodName }}
              <h3 class="text-center">Create New Stack</h3>
              <div class="row">
                <div class="platform-selector">
                  <span class="switch-label">Rancher</span>
                  <input type="checkbox" class="switcher">
                  <span class="switch-label">Tutum</span>
                </div>
              </div>
              {{> afQuickField name='name'}}
              {{> afQuickField name='appImage'}}
              {{> afQuickField name='domainName'}}
              <a href="/stacks" class="btn btn-default">Cancel</a>
              <button type="submit" class="ladda-button btn btn-primary pull-right" data-style="slide-left">
                <span class="ladda-label">Do it!</span>
              </button>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
