<template name="stack_page">
  <div class="container">
    <div class="stack-detail card-panel">
      <h3 class="center">Stack Detail</h3>
      <div class="divider"></div>
      {{#with stack}}
      <div class="row">
        <div class="col s12">
          <p><strong>Name:</strong> {{name}}</p>
          <p><strong>Tutum uuid:</strong> {{uuid}}</p>
          <p><strong>Created:</strong> {{moment createdAt 'LLL'}}</p>
          <p><strong>State:</strong> {{state}}</p>
        </div>
      </div>
      {{/with}}
    </div>
  </div>
</template>
