
<template name="stack_ssl">
  <div class="container">
    {{> stack_info}}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel">
          <div class="panel-body ssl-settings">
            <div class="col-sm-6 col-sm-offset-3">
              <h4 class="text-center">Custom SSL Settings</h4>
              {{#autoForm collection="Stacks" id="sslUpdateForm" doc=currentStack type="method-update" meteormethod="tutum/updateSSLCert" }}
                {{> afQuickField name='sslDomainName' label='Domain Name'}}
                {{> afQuickField name='sslPrivateKey' label='Private Key' type='textarea' style='height: 175px;'}}
                {{> afQuickField name='sslPublicCert' label='Public Certificate' type='textarea' style='height: 175px;'}}
                {{> afQuickField name='stackId' type='hidden' value=currentStack._id}}
                <!--
                  {{> afQuickField name='customSSLActive' label='Is Active?'}}
                -->
                <button type="submit" class="btn btn-primary pull-right">Save</button>
              {{/autoForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
