
<template name="stacks_list">
  <div class="row">
    <div class="panel col-sm-10 col-sm-offset-1">
      <div class="panel-body">
        <div class="row">
          <a href="{{pathFor 'stack_new'}}">
            <button class="btn btn-primary">
              Launch a New Stack
            </button>
          </a>
        </div>
        {{#if hasStacks}}
          {{> reactiveTable class="table table-bordered" settings=settings}}
        {{else}}
          <h3 class="text-center">No stacks running at this time.</h3>
        {{/if}}
      </div>
    </div>
  </div>
</template>
